<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <img src=<%= asset_path('andrew-h-mccallum.jpg') %> class="img-responsive center-block">
      <br/>
    </div>
    <div class="col-lg-7 col-sm-8 col-xs-12">
      I am an economist in the International Finance division of the <a href="http://www.federalreserve.gov/econresdata/andrew-h-mccallum.htm" target="_blank">Federal Reserve Board</a>. I received my Ph.D. in Econmics from the University of Michigan in 2013.  My areas of research interest are international trade and industrial organization. 
    </div>
    <div class="col-lg-2 col-sm-1">
    </div>
  </div>
</div>
