<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <img src=<%= asset_path('andrew-h-mccallum.jpg') %> class="img-responsive center-block">
      <span class="contact-info">Board of Governors of the Federal Reserve System, Washington, D.C. 20551</span><br/>
      <span class="contact-info">andrew.h.mccallum@frb.gov</span>
      <br/>
    </div>
    <div class="col-lg-6 col-sm-7 col-xs-12">
      <span class="papers-font"><h3><b>About</b></h3></span>
      I am an economist in the International Finance division of the <a href="http://www.federalreserve.gov/econresdata/andrew-h-mccallum.htm" target="_blank">Federal Reserve Board</a>. I received my Ph.D. in Econmics from the University of Michigan in 2013.  My areas of research interest are international trade and industrial organization. <br/>
      <span class="papers-font"><h3><b>Papers</b></h3></span>
      <ul>
        <li><a href="https://db.tt/cZ3y1AcU" target="_blank">Entry Costs and Increasing Trade</a> - 2013 (with William F. Lincoln) - abstract only, update in progress 10/14</li>
        <li><a href="https://db.tt/OGyINRAQ" target="_blank">The Structure of Export Entry Costs</a> - 2013 - abstract only, update in progress 1/14</li>
        <li><a href="https://db.tt/rWY21dKg" target="_blank">Searching For Imports</a> - 2013 (with <a href="https://sites.google.com/site/pawelmkrolikowski/" target="_blank">Pawel M. Krolikowski</a>) - abstract only, update in progress 3/14</li>
        <li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1967941" target="_target">Real Wages and Monetary Policy Transmission in the Euro Area</a> - 2007 (with <a href="http://www.ecb.europa.eu/press/pr/date/2013/html/pr131127_1.en.html" target="_blank">Frank Smets</a>) - Kiel Institute for the World Economy</li>
        <li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1967966" target="_blank">Do Oil Futures Prices Help Predict Future Oil Prices?</a> 2005 (with <a href="http://www.imf.org/external/np/cv/AuthorCV.aspx?AuthID=220" target="_blank">Tao Wu</a>) - FRBSF Economic Letter</li>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-1">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
    </div>
    <div class="col-lg-6 col-sm-7 col-xs-12">
    </div>
    <div class="col-lg-2 col-sm-1">
    </div>
  </div
</div>
